body {
  background-image: url('./images/background.png');
  background-color: #383c48;
  padding: 0px;
  margin: 0px;
}

.Header {
  background-color: rgba(24, 23, 31, 0.8);
  margin-top: 0px;
  position: absolute;
  top: 0px;
  color: rgba(255, 255, 255, 0.8);
  height: 110px;
  width: 100%;
  margin: 0px;
}

.Subtext {
  font-style: italic;
}

.ContentContainer {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 30px;
  width: 750px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.OfficialText {
  background-color: rgba(255, 255, 255, 0.6);
  margin: 5px;
  padding: 5px;
  height: 100px;
  width: auto;
  position: relative;
}

.UserInput {
  margin: 0px;
  padding: 0px;
  width: auto;
  height: 120px;
  background-color: none;
  position: relative;
}

.UserText {
  background-color: rgba(255, 255, 255, 0.6);
  margin: 5px;
  padding: 5px;
  height: 100px;
  width: 610px;
  position: absolute;
  top: 0px;
}

.Button {
  background-color: rgba(176,139,253, 0.6);
  border: 7px solid rgba(129,63,139,1);
  color: #662370;
  font-size: 1.5em;
  font-weight: bold;
  width: 110px;
  height: 110px;
  margin: 5px;
  position: absolute;
  top: 0px;
  right: 0px;
}